@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&display=swap');

.iconMenu {
  width: 64px;
  height: 64px;
}

.Header{
    margin-top: 4vh;
    margin-left: 4vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.backIcon{
    width: 48px;
    height: 48px;
    padding: 6px;
    margin-left: 2vw;
    border-radius: 100%;
    background: #17C3B9;
    color: white;
    transition: all 0.3s ease;
}

.backIcon:hover {
    background: #0c5652;
    transform: translateY(-6px);
}


.Background {

    width: 100%;
    
}

body{
    
    background-image: url(../Images/BGStraight.png);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: top right;
    
   
}

.titleDiv{
    width: 100wv;
    display: flex;
    justify-content: center;
}

.titletext{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    width: fit-content;
    font-weight: 900;

}

.CorpsContenant{
    margin-top: 4vh;
    margin-bottom: 8vh;
    width: 100%;
    display: flex;

    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    
}

.CorpsContenu{
    width: 65%;
    height: auto;
    font-family: 'Zilla Slab', serif;
    
}

.TitreCorps{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 18px;
    margin-top: 18px;
}

.CorpsCorps{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 18px;
}

.ImageCorps{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.ImageEtTexte{
    display: flex;

}

.ImageCorpsHalf{
    width: 50%;
    border-radius: 12px;
    margin-right: 8px;
}

.CorpsCorpsHalf{
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 18px;
    margin-left: 8px;
}

@media screen and (max-width: 950px) and (min-width: 625px) {
    .iconMenu{
        height: 128px;
        width: 128px;
    }
}