@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&display=swap");



.TitreEnSavoirPlus {
  font-size: 2.2rem;
  font-weight: 600;
}

.Experience {
  margin-left: 5vw;
  margin-bottom: 2rem;
}

.HeadExp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 6px;
}

.LogoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  flex-wrap: wrap;
}

.logoEntreprise {
  height: 35px;
}

.CompanyAndDate {
  width: max-content;
  font-size: 1.3rem;
}

.companyName {
  font-weight: 600;
}

.PostOccupe {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.DetailExp {
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 500;
}

.ProjetsAssocies {
  font-size: 0.9rem;
  font-weight: 800;
}

.Projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Projet {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2vw;
}

.LinkProjet {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.LinkProjet:hover {
  color: #17c3b9;
}

.BtnDownload{
position: fixed;
bottom: 2%;
left: 2%;
background-color: #17c3b9;
color:white;
display: flex;
flex-direction: column;
align-items: center;
font-family: "Roboto Slab", serif;
padding: 12px;
border-radius: 10%;
font-size: 1rem;
transition: all 0.3s ease;
}

.BtnDownload:hover{
  background: #0c5652;
  transform: translateY(-6px);
}

.iconDwld{
  height: 28px;
  width: 28px;
  margin-bottom: 8px
}


@media only screen and (max-width: 700px) and (min-width: 200px) {
  .HeadExp {
    flex-wrap: wrap;
  }

  .LogoDiv {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .DetailExp {
    font-size: 1.4rem;
  }
  .PostOccupe {
    font-size: 1.4rem;
  }
  .CompanyAndDate {
    font-size: 1.8rem;
  }
  .Experience {
    margin-bottom: 3rem;
    margin-left: 0;
  }
  .companyName {
    font-size: 2rem;
  }
  .ProjetsAssocies {
    font-size: 1.4rem;
  }
  .Projets {
    font-size: 1.6rem;
    flex-direction: column;
  }
  .logoEntreprise {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .BtnDownload{
    
  }
}
