.TitreEnSavoirPlus{
    font-size: 32px;
    font-weight: 600;
}

.Experience{
    margin-left: 5vw;
    margin-bottom: 24px;
}

.HeadExp{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 6px;
}

.LogoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    flex-wrap: wrap;
}

.logoEntreprise{
    height: 35px;
}

.CompanyAndDate{
    width: max-content;
    font-size: 20px;
}

.companyName{
    font-weight: 600;
}

.PostOccupe{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.DetailExp{
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
}

.ProjetsAssocies{
    font-size: 14px;
    font-weight: 800;
}

.Projets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Projet{
   
    font-size: 18px;
    font-weight: 600;
    margin-right: 2vw;

}

.LinkProjet{
    text-decoration: none;
    color: black;
    transition: 0.3s
}

.LinkProjet:hover{
    color: #17C3B9;
}